<%# START_HIGHLIGHT %>
<header data-role='header' data-backbtn='false'>
<%# END_HIGHLIGHT %>
  <h1><%= @creation.name %></h1>
<%# START_HIGHLIGHT %>
  <%= link_to_home %>
<%# END_HIGHLIGHT %>
</header>
