<label>
  URL:
  <input type="text" name="url" value="<%= @bookmark && @bookmark.url %>">
</label>
<label>
  Title:
  <input type="text" name="title" value="<%= @bookmark && @bookmark.title %>">
</label>
<input type="submit" name="save" value="Save">
<a href="/">Cancel</a>
