@import "compass/utilities/general/clearfix";

#outer_box {
  @include clearfix;
  width: 500px;
  border: 4px solid black;
  #inner_box {
    float: left;
    width: 200px;
    height: 100px;
    background: gray; } }