<li class='creation'>
  <% if @creation.default_image? %>
    <%= image_tag(@creation.default_image) %>
  <% else %>
    <%= image_tag("missing_creation.png")%>
  <% end %>
  <%# START:helper %>
  <%= controls_for_creation(creation) %>
  <%# END:helper %>
</li>
