<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
 ! Excerpted from "Security on Rails",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/fr_secure for more book information.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Lunched In:  because Lunch is the most important meeting</title>
	<%= stylesheet_link_tag 'layout', 'content' %>
	<%= javascript_include_tag :defaults %>	
</head>
<body>
	
<div id="content">	
	<div id="session-bar">		
	<% if session[:user_id] %>
		<%= link_to 'sign out', :controller => 'login', :action => 'logout' %>
	<% else %>
		<%= link_to 'login', :controller => 'login', :action => 'login' %>
	<% end %>
	</div>	
	<div id="header">
		<%= link_to(image_tag("logo.png"), :controller => 'root', :action => 'index') %>
	</div>
	
	<% unless @hide_tabs %>
		<%= render 'shared/tabs' -%>
	<% end %>

	<div id="body">
<%= yield :layout -%>
	</div>
	<div id="footer">
		<ul>
			<li>&copy; 2007</li>
		</ul>
	</div>
</div>

</body>
</html>
