#container{
  margin: 0 auto;
  width: 80%;
}
#sidebar, #main{
  display: block;
  float: left;
}

#main{ width: 80%; }

#sidebar{ width: 20%;}

form ol{
  list-style: none; 
  margin: 0; 
  padding: 0;
}

form li, #sidebar li{
  margin: 0;
  padding: 0; 
}

form li label{ display:block; }

#note, #title{
  border: 1px solid #000;
  font-size: 20px; 
  width: 100%; 
}


#sidebar ul{ 
  list-style: none;
  padding: 0;
};

#sidebar li{ cursor: hand; cursor: pointer; }

#title{ height: 20px; }

#note{ height: 80px; }
