body {
  background-color: #393d48;
  color: #888888; }

a {
  color: #393d48; }

section {
  margin-bottom: 40px; }

section, header, footer, nav {
  display: block;
  clear: both; }

header, footer {
  text-align: center; }

#notice, #message, #error_messages {
  padding: 4px;
  margin-bottom: 20px;
  font-weight: bolder; }

#notice {
  border: 2px solid #009900;
  background-color: #cceecc; }

#message, #error_messages {
  border: 2px solid #990000;
  background-color: #eecccc; }

#wrap {
  width: 940px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 5px -3 5px -3 5px -2 #333333;
  -webkit-box-shadow: 2px 2px 3px #333333;
  padding: 5px 5px 5px 15px;
  border: 1px solid #dddddd;
  background-color: white; }

pre {
  overflow: hidden;
  -moz-box-shadow: 5px -3 5px -3 5px -2 #dddddd;
  -webkit-box-shadow: 2px 2px 3px #dddddd;
  padding: 5px 5px 5px 15px;
  border: 1px solid #dddddd;
  width: 90%;
  background-color: #eeeeee; }

p, h2, h3 {
  margin: 0 0 20px 0;
  line-height: 20px; }

fieldset {
  padding: 10px;
  margin-bottom: 20px; }
  fieldset ol {
    padding: 0;
    margin: 0;
    list-style: none; }
  fieldset ol li.inline {
    padding: 0;
    clear: both;
    margin: 0 0 10px 0; }
    fieldset ol li.inline label {
      width: 150px;
      float: left;
      padding: 4px; }
    fieldset ol li.inline input {
      width: 250px;
      border: 1px solid #888888;
      padding: 4px; }
    fieldset ol li.inline textarea {
      clear: both;
      width: 400px;
      height: 100px;
      border: 1px solid #888888;
      padding: 4px; }
    fieldset ol li.inline fieldset {
      clear: both;
      float: left; }

nav {
  margin-bottom: 20px;
  float: left;
  display: block; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      width: 100px;
      text-align: center;
      float: left;
      margin: 0 4px 0 0;
      padding: 3px; }
      nav ul li a {
        border: 1px solid #888888;
        width: 100%;
        float: left;
        display: block;
        text-decoration: none; }
        nav ul li a:hover {
          background-color: #888888;
          color: white; }

.pagination_links {
  margin-top: 80px; }
  .pagination_links a {
    border: 1px solid #888888;
    padding: 3px;
    margin-right: 4px;
    text-decoration: none; }
  .pagination_links a.current {
    background-color: #888888;
    color: white; }
