<html>
    <head>
        <meta http-equiv="X-XRDS-Location" content="<%= @xrds_url %>" />
        <link rel="openid.server" href="<%= url_for :action => 'index' %>" />
    </head>
    <body>
        <p>OpenID identity page for <%= params[:username] %></p>
    </body>
</html>