<p>
  Welcome to Twitalytics!
</p>
<!-- START:retweets -->
<p>
  <% if @retweets.any? %>
    Recent Retweets:
    <ul>
      <% @retweets.each do |retweet|  %>
        <li><%= retweet.status_text %></li>
      <% end %>
    </ul>
  <% end %>
</p>
<!-- END:retweets -->