ul.collapsible li {
  list-style: none;
  cursor: default;
}


ul.collapsible li.expanded, ul.collapsible li.collapsed {
  cursor: pointer;
}

ul.collapsible li:before {
  display: block;
  float: left;
  width: 10px;
  text-align: center;
}

ul.collapsible li.expanded:before {
  content: '-';
}

ul.collapsible li.collapsed:before {
  content: '+';
}

