<!--
 ! Excerpted from "Rails, Angular, Postgres, and Bootstrap",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/dcbang for more book information.
-->
<header>
  <h1 class="h2">Customer Search</h1>
</header>
<section class="search-form">

  <!-- markup as before -->


  <!-- search form as before... -->

  <form>
    <label for="search.keywords" class="sr-only">Keywords</label>
    <input type="text" 
           name="keywords" 
           class="form-control input-lg"
           placeholder="First Name, Last Name, or Email Address"
           ng-change="search(keywords)"
           ng-model="keywords">
  </form>
</section>
<aside class="sr-only loading-progress">
  <span ng-if="loading" class="loading">Loading</span>
  <span ng-if="!loading" class="not-loading">Done Loading</span>
</aside>
<section class="search-results" ng-if="customers.length > 0">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <nav>
    <ul class="pager">
      <li class="previous">
        <a href="" ng-click="previousPage()">&larr; Previous</a>
      </li>
      <li class="next">
        <a href="" ng-click="nextPage()">Next &rarr;</a>
      </li>
    </ul>
  </nav>
  <ol class="list-group">

    <!-- rest of template... -->

    <li class="list-group-item clearfix" 
        ng-repeat="customer in customers">
      <h3 class="pull-right">
        <small class="text-uppercase">Joined</small>
        {{ customer.created_at | date }}
      </h3>
      <h2 class="h3">
        {{ customer.first_name }} {{ customer.last_name }}
        <small>{{ customer.username }}</small>
      </h2>
      <h4>{{ customer.email }}</h4>
    </li>
  </ol>

    <!-- repeat pager markup here -->
  <nav>
    <ul class="pager">
      <li class="previous">
        <a href="" ng-click="previousPage()">&larr; Previous</a>
      </li>
      <li class="next">
        <a href="" ng-click="nextPage()">Next &rarr;</a>
      </li>
    </ul>
  </nav>
</section>
