<%# START_HIGHLIGHT %>
<% content_for :main_navigation do %>
<%# END_HIGHLIGHT %>
  <nav id="main_nav" role="navigation">
    <ul>
      <li><%= link_to 'Campaigns',   campaigns_path %></li>
      <li><%= link_to 'Creations',   creations_path %></li>
      <li><%= link_to 'Assignments', assignments_path %></li>
    </ul>
  </nav>
<%# START_HIGHLIGHT %>
<% end %>
<%# END_HIGHLIGHT %>
