<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ArtFlow: Mobile Edition!</title>
  </head>
  <body>
    <%= yield %>
    <%# START_HIGHLIGHT %>
    <%= render partial: 'layouts/footer' %>
    <%# END_HIGHLIGHT %>
  </body>
</html>
