<!DOCTYPE html>
<!--
 ! Excerpted from "Seven Web Frameworks in Seven Weeks",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/7web for more book information.
-->
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/zap.css" rel="stylesheet" type="text/css">

    <title>Projects - Zap</title>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">Zap!</a>
        <form class="navbar-form pull-right">
          <input class="search-query" placeholder="Search" type="text">
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row admin-bar">
        <a href="/projects/new">Add Project</a>
      </div>

      <h1>Project List</h1>

      <ol>
        <li>
          <a href="/project/1/issues">Zap</a>
        </li>
        <li>
          <a href="/project/2/issues">Website</a>
        </li>
      </ol>
    </div>
  </body>
</html>
