.login{
  position: relative;
  width: 250px;
}

.login fieldset{
  background-color: #ddd;
  border: none;
}

.login legend{ 
  background-color: #ddd;
  padding: 0 64px 0 2px;
}

.login ol{list-style: none;
  margin: 2px;
  padding:0; 
}

.login ol li{
  margin: 0 0 9px 0;
  padding: 0;
}

.login input{
  background-color: #fff;
  border: 1px solid #bbb;
  display:block;
  width: 200px;
}
 
.login input[type="submit"]{
 background-color: #bbb;
 padding: 0;
 width: 202px;
}

 
.login input, fieldset, legend{
 border-radius: 5px;
 background-clip: padding-box;
}

.login input[type="email"], .login input[type="password"]{
  -webkit-transition: background 0.3s linear
                      border 0.3s linear;                     
     -moz-transition: background 0.3s linear,
                      border 0.3s linear;
       -o-transition: background 0.3s linear,
                      border 0.3s linear;
          transition: background 0.3s linear,
                      border 0.3s linear;
}

.login input[type="email"]:focus, .login input[type="password"]:focus{
  background-color: #ffe;
  border: 1px solid #0e0;
}

.shake{
  -webkit-animation: shake 0.5s 1;
     -moz-animation: shake 0.5s 1;
          animation: shake 0.5s 1;
}

@-webkit-keyframes shake{
  0%{left:0;}
  20%{left:-2%;}
  40%{left:2%;}
  60%{left:-2%;}
  80%{left:2%;}
  100%{left:0;}
}

@-moz-keyframes shake{
  0%{left:0;}
  20%{left:-2%;}
  40%{left:2%;}
  60%{left:-2%;}
  80%{left:2%;}
  100%{left:0;}
}
@keyframes shake{
  0%{left:0;}
  20%{left:-2%;}
  40%{left:2%;}
  60%{left:-2%;}
  80%{left:2%;}
  100%{left:0;}
}
