%% -*- mode: erlang -*-

{erl_opts, [warn_unused_vars, warn_unused_import]}.

{deps, [{webmachine, "1.9.3",
         {git, "git://github.com/basho/webmachine.git",
          {tag, "1.9.3"}}},
        {mustache, "0.1.0",
         {git, "git://github.com/mojombo/mustache.erl.git",
          {branch, "master"}}}]}.
