<ul id='interested'>
  <li class='client'>
    <a href='/clients/10/people/233'>Joe Thrower</a>
  </li>
  <li class='staff designer'>
    <a href='/staff/12'>Jack Johnson</a>
  </li>
  <li class='staff pm'>
    <a href='/staff/3'>James Monsanto</a>
  </li>
  <%# Other people here... %>
</ul>
