<form id="search" method="get" action="/search">

  <fieldset>
    <input type="text" id="query" name="query" />
    <input type="submit" value="Search" />
  </fieldset>

  <ol class="results">
    <li><a href="/users/2/messages/20">I am making dinner</a></li>
    <li><a href="/users/2/messages/21">SHOULD NOT BE HERE</a></li>
    <li><a href="/users/2/messages/22">I am going to work</a></li>
  </ol>
  
</form>
