---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18eAZWDTh2DhiR4Rtn7xHmO4",
          "object": "token",
          "card": {
            "id": "card_18eAZWDTh2DhiR4Ri0L7Jslu",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1470173830,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 02 Aug 2016 21:37:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&description=&metadata[reference]=af0ca9eefe925300c510&source=tok_18eAZWDTh2DhiR4Rtn7xHmO4
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - af0ca9eefe925300c510
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - af0ca9eefe925300c510
      Original-Request:
      - req_8w2eICKpsHbHj8
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18eAZXDTh2DhiR4R44q2472w",
          "object": "charge",
          "amount": 2500,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18eAZXDTh2DhiR4RSl6onsDS",
          "captured": true,
          "created": 1470173831,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "af0ca9eefe925300c510"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18eAZXDTh2DhiR4R44q2472w/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18eAZWDTh2DhiR4Ri0L7Jslu",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Tue, 02 Aug 2016 21:37:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: amount=2500&charge=ch_18eAZXDTh2DhiR4R44q2472w&metadata[original_reference]=af0ca9eefe925300c510&metadata[refund_reference]=b1c82fdefc569e5ef5c2
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b1c82fdefc569e5ef5c2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b1c82fdefc569e5ef5c2
      Original-Request:
      - req_8w2ecluHZEzpUQ
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_18eAZXDTh2DhiR4RIZ5PYHEq",
          "object": "refund",
          "amount": 2500,
          "balance_transaction": "txn_18eAZXDTh2DhiR4R0bRjeWs8",
          "charge": "ch_18eAZXDTh2DhiR4R44q2472w",
          "created": 1470173831,
          "currency": "usd",
          "metadata": {
            "original_reference": "af0ca9eefe925300c510",
            "refund_reference": "b1c82fdefc569e5ef5c2"
          },
          "reason": null,
          "receipt_number": null,
          "status": "succeeded"
        }
  recorded_at: Tue, 02 Aug 2016 21:37:11 GMT
recorded_with: VCR 3.0.3
