<!--
 ! Excerpted from "Web Development Recipes",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/wbdev2 for more book information.
-->
<div>
  <div>
    <h2>{{ productCtrl.product.name }}</h2>
    <p> {{ productCtrl.product.description }} </p>
    <p> {{ productCtrl.product.price }} </p>
  </div>
  <a href="#/products/{{productCtrl.product.id}}/edit">Edit</a>
</div>

