<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration -->
    <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration -->
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="WindowsPhoneTestFramework.Test.EmuSteps" />
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindgins}" /> -->
    </stepAssemblies>
  </specFlow>
  <appSettings>
    <!--

      General EmuSteps settings:

        EmuSteps.AutomationController 
        - which automation controller to load - e.g. "WP7" or "Android"
        
        EmuSteps.ControllerInitialisation 
        - string specific for the controller
        - for WP7, this is a semicolon delimited list with:
             - optionally just the BindingAddress - e.g. "BindingAddress=http://localhost:8085/phoneAutomation;"
        - for Android, this is a semicolon delimited list with:
             - optionally: the BindingAddress - e.g. "BindingAddress=http://localhost:8085/phoneAutomation;"
             - required the AvdName - e.g. "Android.AvdName=MyEmulatorImageName;"
             - required the path to the Android Sdk - e.g. "Android.SdkPath=c:\android-sdk-windows\;"
             - optionally the ConsolePort - e.g. "Android.ConsolePort=23001;"
             - optionally the AdbPort - e.g. "Android.AdbPort=23002;"
        
        EmuSteps.AutomationIdentification
        - one of: TryAutomationName, TryElementName, TryDisplayedText or TryEverything
      
      WindowsPhone specific settings (all required for WindowsPhone testing):
      
        EmuSteps.Application.WindowsPhone.ApplicationId
        - Guid for the ProductId in WMAppManifest.xml - e.g. "{e33eb75b-7811-4343-a3ab-da5dd6df7572}" 
        
        EmuSteps.Application.WindowsPhone.ApplicationName
        - Application Name - e.g. "Example App" 
        
        EmuSteps.Application.WindowsPhone.ApplicationPackagePath
        - Path to the .xap file for the application - e.g. "../../ExampleApp/bin/debug/ExampleApp.xap" 
        
        EmuSteps.Application.WindowsPhone.ApplicationIconPath
        - Path to the 62x62 .png file for the application - e.g. "../../ExampleApp/bin/debug/ApplicationIcon.png" 
        
      Android specific settings:
       
        EmuSteps.Application.Android.PackagePath
        - Path to the .apk file for the application - e.g. "../../ExampleApp/bin/ExampleApp.apk" 
                
        EmuSteps.Application.Android.PackageName
        - Name of the package for the application - e.g. "com.cirrious.exampleApp" 
        
        EmuSteps.Application.Android.StubPackagePath { get; set; }
        - Path to the .apk file for the JUnit test stub - e.g. "../../ExampleApp.TestStub/bin/ExampleApp.TestStub.apk" 
        
        EmuSteps.Application.Android.StubPackageName { get; set; }
        - Name of the package for the JUnit test stub - e.g. "com.cirrious.exampleApp.test" 

      -->
    <add key="EmuSteps.Application.WindowsPhone.ApplicationId" value="{cc535914-aa51-459e-aa9b-0d7afc01afe0}" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationIconPath" value="C:\Palindromer\Palindromer\ApplicationIcon.png" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationPackagePath" value="C:\Palindromer\Palindromer\Bin\Debug\Palindromer.xap" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationName" value="Palindromer" />
  </appSettings>
</configuration>