<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpClient" version="0.5.0" targetFramework="net40" />
  <package id="JsonValue" version="0.5.0" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" targetFramework="net40" />
  <package id="SpecFlow" version="1.8.1" targetFramework="net40" />
  <package id="WebApi" version="0.5.0" targetFramework="net40" />
  <package id="WP7Test" version="0.9.6" targetFramework="net40" />
</packages>