<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
 ! Excerpted from "Rails Recipes",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/rr2 for more book information.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>Processing Images Recipe</title>
		<style type='text/css' media='screen'>
		  * { font-family: sans-serif; }
			.section {
				padding: 2em;
				margin: 1em;
				padding-top: 0.5em;
      }
			#new-image {
			  background: #ffffcc;
			}
			#existing-images {
			  background: #d0dcea;
			}
			label {
			  font-weight: bold;
				letter-spacing: -1px;
				color: #222;
			}
			h2 {
			  font-size: 36px;
				letter-spacing: -2px;
				color: #000;
			}
			a { text-decoration: none; color: red; }
			a img { border: 0px; }
			input[type=text], input[type=file], textarea {
			  font-weight: bold;
				letter-spacing: -1px;
				color: darkgreen;
				padding: 4px;
			}
			
		</style>
</head>
	<body>
    <%= @content_for_layout %>
	</body>
</html>

