body{
  margin:15px auto;
  width:960px;
}

p{
  margin:0 0 20px 0;
}

p, li{ line-height:20px; }

body{
  font-family: "GarogierRegular"; 
  font-family: "GarogierRegular", Georgia,
               "Palatino", "Palatino Linotype",
               "Times", "Times New Roman", serif;
  
}


#page_header{
  width:100%;
}

#page_header > nav > ul, #page_footer > nav > ul{
  list-style: none;
  margin: 0; 
  padding: 0;
}
#page_header > nav > ul > li, #page_footer > nav > ul > li{
  display: inline;
  margin: 0 20px 0 0;
  padding:0;
}

#posts{
  float: left;
  width: 74%;
}

#posts aside{
  float: right;
  font-size: 20px;
  line-height: 40px;
  margin-left: 5%;
  width: 35%;
}

#sidebar{
  float: left;
  width: 25%;
}

#page_footer{
  clear: both;
  display: block; 
  text-align: center;
  width: 100%; 
}


@font-face {
  font-family: 'GarogierRegular';
  src: url('fonts/garogier_unhinted-webfont.eot?#iefix')
          format('embedded-opentype'),
       url('fonts/garogier_unhinted-webfont.woff') format('woff'),
       url('fonts/garogier_unhinted-webfont.ttf') format('truetype'),
       url('fonts/garogier_unhinted-webfont.svg#garogierregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
