---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&managed=true
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_18ukrGGwfhpNH3y1",
          "object": "account",
          "business_logo": null,
          "business_name": null,
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_18ukrGGwfhpNH3y1/external_accounts"
          },
          "keys": {
            "secret": "sk_test_hTC6FkP48Q2Dto4prAiW3QBU",
            "publishable": "pk_test_zhGjsDdaTLAZM9aDt85NBowt"
          },
          "legal_entity": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "business_name": null,
            "business_tax_id_provided": false,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "first_name": null,
            "last_name": null,
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": false,
            "ssn_last_4_provided": false,
            "type": null,
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "status": "unverified"
            }
          },
          "managed": true,
          "metadata": {},
          "product_description": null,
          "statement_descriptor": null,
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "transfer_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "transfers_enabled": false,
          "verification": {
            "disabled_reason": "fields_needed",
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.dob.day",
              "legal_entity.dob.month",
              "legal_entity.dob.year",
              "legal_entity.first_name",
              "legal_entity.last_name",
              "legal_entity.type",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ]
          }
        }
  recorded_at: Sat, 17 Sep 2016 15:36:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18ukrJDTh2DhiR4RX20pRv08",
          "object": "token",
          "card": {
            "id": "card_18ukrJDTh2DhiR4R2ineQmu6",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1474126565,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 17 Sep 2016 15:36:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&source=tok_18ukrJDTh2DhiR4RX20pRv08&description=&metadata[reference]=5045be5ab741bb6c16f4&destination=acct_18ukrGGwfhpNH3y1&application_fee=2875
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5045be5ab741bb6c16f4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5045be5ab741bb6c16f4
      Original-Request:
      - req_9DBDwktJlR7LLh
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18ukrKDTh2DhiR4RvJsramvX",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application_fee": "fee_9DBD89PESLhcTb",
          "balance_transaction": "txn_18ukrKDTh2DhiR4RYuk841PZ",
          "captured": true,
          "created": 1474126566,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": "acct_18ukrGGwfhpNH3y1",
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "5045be5ab741bb6c16f4"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18ukrKDTh2DhiR4RvJsramvX/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18ukrJDTh2DhiR4R2ineQmu6",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer": "tr_18ukrKDTh2DhiR4RQTahmql4"
        }
  recorded_at: Sat, 17 Sep 2016 15:36:08 GMT
recorded_with: VCR 3.0.3
