<% currently_at 'Home' %>

<%# START:attrs %>
<p id="product-description"
   class="important blurb rounded">
  Have a file, store a file.
  Then change it, tag it, and share it or send it.
  <em>
    This isn't your father's asset management application.
  </em>
</p>
<%# END:attrs %>

<%# START:comments %>
  <%# TODO: Add list of articles. -BW 2011-11-01 %>
<%# END:comments %>
