<table border='0' cellspacing='0'>
<tr>
 <td>&nbsp;</td>
 <td><%=@signal_vert.to_div(context)%></td>
 <td>&nbsp;</td>
</tr>
<tr>
 <td><%=@signal_hori.to_div(context)%></td>
 <td>&nbsp;</td>
 <td><%=@signal_hori.to_div(context)%></td>
</tr>
<tr>
 <td>&nbsp;</td>
 <td><%=@signal_vert.to_div(context)%></td>
 <td>&nbsp;</td>
</tr>
</table>