.logo {
  background: sprite-image("artflow/artflow-logo.png");
}
.tagline {
  background: sprite-image("artflow/tagline.png");
}
.email {
  background: sprite-image("icons/email.png") no-repeat;
}
.user.guy {
  background: sprite-image("icons/guy.png") no-repeat;
}
.user.gal {
  background: sprite-image("icons/gal.png") no-repeat;
}
