<form id="search" method="get" action="/search">
  <fieldset>
    <input type="text" id="query" name="query" autocomplete="off" />
    <input type="submit" value="Search" />
  </fieldset>
  <ol class="results">
    <% @messages.each do |message| %>
      <li><%= link_to(message.content, [message.user, message]) %></li>
    <% end %>
  </ol>
</form>
