<% content_for :sidebar do %>
  <% cache action: 'index', action_suffix: 'recent_activity' do %>
    <section id="recent_activity">
      <header>
        <h1 class="ir" id="recent">Recent Activity</h1>
      </header>
      <%= render 'activity_items/recent' %>
    </section>
  <% end %>
<% end %>
