.thom_picture {
  background-image: url("/image/thom.jpg"); }

.jonny_picture {
  background-image: url("/image/jonny.jpg"); }

.colin_picture {
  background-image: url("/image/colin.jpg"); }

.phil_picture {
  background-image: url("/image/phil.jpg"); }
