.product_title {
  color: #336699;
  font-family: helvetica, arial, sans-serif;
  font-size: 20px;
  font-variant: small-caps; }

.product_title {
  color: #336699;
  font-family: helvetica, arial, sans-serif;
  font-size: 100px;
  font-variant: small-caps; }
