FileETag None
ExpiresActive On
ExpiresDefault A0

<FilesMatch "\.(jpg|png|gif|css|js)$">
  ExpiresDefault A31536000
</FilesMatch>

AddOutputFilterByType DEFLATE text/html text/css \
    application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html