---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&managed=true
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_18ukwDBd9o9n41wo",
          "object": "account",
          "business_logo": null,
          "business_name": null,
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_18ukwDBd9o9n41wo/external_accounts"
          },
          "keys": {
            "secret": "sk_test_LjXZfruSZao3biRsYNWzJHrT",
            "publishable": "pk_test_JSYvN5Oq9iTxE9z69Ivi5D2E"
          },
          "legal_entity": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "business_name": null,
            "business_tax_id_provided": false,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "first_name": null,
            "last_name": null,
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": false,
            "ssn_last_4_provided": false,
            "type": null,
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "status": "unverified"
            }
          },
          "managed": true,
          "metadata": {},
          "product_description": null,
          "statement_descriptor": null,
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "transfer_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "transfers_enabled": false,
          "verification": {
            "disabled_reason": "fields_needed",
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.dob.day",
              "legal_entity.dob.month",
              "legal_entity.dob.year",
              "legal_entity.first_name",
              "legal_entity.last_name",
              "legal_entity.type",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ]
          }
        }
  recorded_at: Sat, 17 Sep 2016 15:41:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18ukwGDTh2DhiR4RPI4yG8jk",
          "object": "token",
          "card": {
            "id": "card_18ukwGDTh2DhiR4Rxj6DlVIX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1474126872,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 17 Sep 2016 15:41:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&source=tok_18ukwGDTh2DhiR4RPI4yG8jk&description=&metadata[reference]=13e7e15101f34b51a866&destination=acct_18ukwDBd9o9n41wo&application_fee=2375
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 13e7e15101f34b51a866
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 13e7e15101f34b51a866
      Original-Request:
      - req_9DBIVp0uiV6E3R
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18ukwHDTh2DhiR4RDqKo8NwL",
          "object": "charge",
          "amount": 2500,
          "amount_refunded": 0,
          "application_fee": "fee_9DBIJv1TygCiUR",
          "balance_transaction": "txn_18ukwHDTh2DhiR4REDdN6VU6",
          "captured": true,
          "created": 1474126873,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": "acct_18ukwDBd9o9n41wo",
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "13e7e15101f34b51a866"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18ukwHDTh2DhiR4RDqKo8NwL/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18ukwGDTh2DhiR4Rxj6DlVIX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer": "tr_18ukwHDTh2DhiR4RtrIUqZoG"
        }
  recorded_at: Sat, 17 Sep 2016 15:41:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history/txn_18ukwHDTh2DhiR4REDdN6VU6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "txn_18ukwHDTh2DhiR4REDdN6VU6",
          "object": "balance_transaction",
          "amount": 2500,
          "available_on": 1474675200,
          "created": 1474126873,
          "currency": "usd",
          "description": "",
          "fee": 103,
          "fee_details": [
            {
              "amount": 103,
              "application": null,
              "currency": "usd",
              "description": "Stripe processing fees",
              "type": "stripe_fee"
            }
          ],
          "net": 2397,
          "source": "ch_18ukwHDTh2DhiR4RDqKo8NwL",
          "sourced_transfers": {
            "object": "list",
            "data": [
              {
                "id": "tr_18ukwHDTh2DhiR4RtrIUqZoG",
                "object": "transfer",
                "amount": 2500,
                "amount_reversed": 0,
                "application_fee": null,
                "balance_transaction": "txn_18ukwHDTh2DhiR4RjlK6NgyL",
                "created": 1474126873,
                "currency": "usd",
                "date": 1474126873,
                "description": null,
                "destination": "acct_18ukwDBd9o9n41wo",
                "destination_payment": "py_18ukwHBd9o9n41wogq8ykhPc",
                "failure_code": null,
                "failure_message": null,
                "livemode": false,
                "metadata": {},
                "recipient": null,
                "reversals": {
                  "object": "list",
                  "data": [],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/transfers/tr_18ukwHDTh2DhiR4RtrIUqZoG/reversals"
                },
                "reversed": false,
                "source_transaction": "ch_18ukwHDTh2DhiR4RDqKo8NwL",
                "source_type": "card",
                "statement_descriptor": null,
                "status": "paid",
                "type": "stripe_account"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/transfers?source_transaction=ch_18ukwHDTh2DhiR4RDqKo8NwL"
          },
          "status": "pending",
          "type": "charge"
        }
  recorded_at: Sat, 17 Sep 2016 15:41:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/application_fees/fee_9DBIJv1TygCiUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "fee_9DBIJv1TygCiUR",
          "object": "application_fee",
          "account": "acct_18ukwDBd9o9n41wo",
          "amount": 2375,
          "amount_refunded": 0,
          "application": "ca_99rbgpLARpz5nnxSbjx5esE9uHUo1hsN",
          "balance_transaction": "txn_18ukwHDTh2DhiR4RBx9Bx5Vv",
          "charge": "py_18ukwHBd9o9n41wogq8ykhPc",
          "created": 1474126873,
          "currency": "usd",
          "livemode": false,
          "originating_transaction": "ch_18ukwHDTh2DhiR4RDqKo8NwL",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/application_fees/fee_9DBIJv1TygCiUR/refunds"
          }
        }
  recorded_at: Sat, 17 Sep 2016 15:41:15 GMT
recorded_with: VCR 3.0.3
