.card{
  background-color: #ffc;
  border: 1px solid #000;
  float: left;
  height: 200px;
  margin: 10px;
  width: 300px;
}

.editor{
  border: none;
  margin: 5%;
  width: 90%;
  height: 80%;
}

.editor:focus{ background-color: #ffe; }
.card:active{ border: 3px solid #333; }
