<nav>
  <ul class="pager">
    <li class="previous">
      <a href="" ng-click="previousPage()">&larr; Previous</a>
    </li>
    <li class="next">
      <a href="" ng-click="nextPage()">Next &rarr;</a>
    </li>
  </ul>
</nav>
