$helvetica: "helvetica neue", arial, helvetica, freesans, 
            "liberation sans", "numbus sans l", sans-serif;
            
$geneva:    geneva, tahoma, "dejavu sans condensed", 
            sans-serif;

$lucida:    "lucida grande", "lucida sans unicode", 
            "lucida sans", lucida, sans-serif;
            
$verdana:   verdana, "bitstream vera sans", "dejavu sans", 
            "liberation sans", geneva, sans-serif;
            
$cambria:   cambria, georgia, "bitstream charter", 
            "century schoolbook l", "liberation serif", times, 
            serif;
            
$palatino:  "palatino linotype", palatino, palladio, 
            "urw palladio l", "book antiqua", 
            "liberation serif", times, serif;
            
$times:     times, "times new roman", "nimbus roman no9 l", 
            freeserif, "liberation serif", serif;
            
$courier:   "courier new", courier, freemono, "nimbus mono l", 
            "liberation mono", monospace;
            
$monaco:    monaco, "lucida console", "dejavu sans mono", 
            "bitstream vera sans mono", "liberation mono", 
            monospace;