/*
Syntax error: Invalid CSS after "1px solid red": expected expression (e.g. 1px, bold), was ";"
        on line 3 of ./basics/nesting.sass

1: .infobox {
2:   .message {
3:     border: 1px solid red;
4:     .title {
5:       color: red;
6:     }
7:   }
8:   .user {

Backtrace:
./basics/nesting.sass:3
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/scss/parser.rb:898:in `expected'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/script/lexer.rb:193:in `expected!'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/script/parser.rb:458:in `assert_done'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/script/parser.rb:50:in `parse'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/script/parser.rb:140:in `parse'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/script.rb:32:in `parse'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:808:in `parse_script'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:584:in `parse_property'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:573:in `parse_property_or_rule'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:554:in `parse_line'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:447:in `build_tree'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:466:in `append_children'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:465:in `each'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:465:in `append_children'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:456:in `build_tree'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:449:in `each'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:449:in `build_tree'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:466:in `append_children'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:465:in `each'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:465:in `append_children'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:456:in `build_tree'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:449:in `each'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:449:in `build_tree'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:466:in `append_children'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:465:in `each'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:465:in `append_children'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:322:in `_to_tree'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:291:in `_render'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/engine.rb:238:in `render'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_style sheet'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin/compiler.rb:181:in `update_style sheets'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `update_style sheets'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `update_style sheets'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin/compiler.rb:214:in `watch'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin.rb:111:in `send'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/plugin.rb:111:in `method_missing'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/exec.rb:408:in `watch_or_update'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/exec.rb:294:in `process_result'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/michaellintorn/.gem/ruby/1.8/gems/sass-3.1.2/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"1px solid red\": expected expression (e.g. 1px, bold), was \";\"\A         on line 3 of ./basics/nesting.sass\A \A 1: .infobox {\A 2:   .message {\A 3:     border: 1px solid red;\A 4:     .title {\A 5:       color: red;\A 6:     }\A 7:   }\A 8:   .user {"; }
