<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/petite.css" rel="stylesheet" type="text/css">

    <title>Latest Links</title>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">Petite</a>
      </div>
    </div>

    <div class="container">
      <p>
        The latest shortened links are:
        <ul>
          {{#links}}
          <li>
            <a href="{{ short_link }}">{{ short_link }}</a>
            => 
            <a href="{{ long_link }}">{{ long_link }}</a>
          </li>
          {{/links}}
        </ul>
      </p>
    </div>
  </body>
</html>
