<div id="first-columns">
  <div class="row">
    <div class="col-md-6">
      <h1>Customer</h1>
    </div>
    <div class="col-md-6">
      <h1>Billing Info</h1>
    </div>
  </div>
</div>
<hr>
<div id="customer-info-grid">
  <div class="row">
    <div class="col-md-6">
      <h1>Customer</h1>
      <div class="row">
        <div class="form-group col-md-4">
          <label class="sr-only" for="first-name">First Name</label>
          <input type="text" class="form-control" 
                 name="first-name" value="Bob"> 
        </div>
        <div class="form-group col-md-4">
          <label class="sr-only" for="last-name">Last Name</label>
          <input type="text" class="form-control" 
                 name="last-name" value="Jones"> 
        </div>
        <div class="form-group col-md-4">
          <label class="sr-only" for="username">Username</label>
          <input type="text" class="form-control" 
                 name="username" value="bobert123"> 
        </div>
      </div>
      <label class="sr-only" for="email">Email</label>
      <input type="text" class="form-control" 
             name="email" value="bobbyj@somewhere.net"> 
      <label for="joined">Joined</label> 12/13/2014
      <h2>Shipping Address</h2>
    </div>
    <div class="col-md-6">
      <h2>Billing Info</h2>
    </div>
  </div>
</div>
<div id="all-grid">
  <div class="row">
    <div class="col-md-6">
      <h1>Customer</h1>
      <div class="row">
        <div class="form-group col-md-4">
          <label class="sr-only" for="first-name">First Name</label>
          <input type="text" class="form-control" 
                 name="first-name" value="Bob"> 
        </div>
        <div class="form-group col-md-4">
          <label class="sr-only" for="last-name">Last Name</label>
          <input type="text" class="form-control" 
                 name="last-name" value="Jones"> 
        </div>
        <div class="form-group col-md-4">
          <label class="sr-only" for="username">Username</label>
          <input type="text" class="form-control" 
                 name="username" value="bobert123"> 
        </div>
      </div>
      <label class="sr-only" for="email">Email</label>
      <input type="text" class="form-control" 
             name="email" value="bobbyj@somewhere.net"> 
      <label for="joined">Joined</label> 12/13/2014
      <h2>Shipping Address</h2>
      <div class="form-group">
        <label class="sr-only" for="street-address">
          Street Address
        </label>
        <input type="text" class="form-control" 
               name="street-address" value="123 Any St"> 
      </div>
      <div class="form-group">
        <label class="sr-only" for="street-address-extra">
          Street Address Extra
        </label>
        <input type="text" class="form-control" 
               name="street-address-extra" value="Unit 101"> 
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="sr-only" for="city">City</label>
          <input type="text" class="form-control" 
                 name="city" value="Washington"> 
        </div>
        <div class="col-md-2">
          <label class="sr-only" for="state">State</label>
          <input type="text" class="form-control" 
                 name="state" value="DC"> 
        </div>
        <div class="col-md-4">
          <label class="sr-only" for="zip">Zip</label>
          <input type="text" class="form-control" 
                 name="zip" value="20001"> 
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Billing Info</h2>
      <div class="row">
        <div class="col-md-7">
          <p>
            ****-****-****-1234
            VISA
          </p>
          <p>
            <label>Expires:</label> 04/19
          </p>
        </div>
        <div class="col-md-5 text-right">
          <button class="btn btn-lg btn-default">
            View Details…
          </button>
        </div>
      </div>
      <h3>Billing Address <input type="checkbox"> Same as shipping?  </h3>
      <div class="form-group">
        <label class="sr-only" for="street-address">
          Street Address
        </label>
        <input type="text" class="form-control" 
               name="street-address" value="123 Any St"> 
      </div>
      <div class="form-group">
        <label class="sr-only" for="street-address-extra">
          Street Address Extra
        </label>
        <input type="text" class="form-control" 
               name="street-address-extra" value="Unit 101"> 
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="sr-only" for="city">City</label>
          <input type="text" class="form-control" 
                 name="city" value="Washington"> 
        </div>
        <div class="col-md-2">
          <label class="sr-only" for="state">State</label>
          <input type="text" class="form-control" 
                 name="state" value="DC"> 
        </div>
        <div class="col-md-4">
          <label class="sr-only" for="zip">Zip</label>
          <input type="text" class="form-control" 
                 name="zip" value="20001"> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="panel-example" class="col-md-4">
    <article class="panel panel-primary">
      <header class="panel-heading">
        <h1>Panel Header</h1>
      </header>
      <section class="panel-body">
        Body of the panel
      </section>
      <footer class="panel-footer">
        Panel Footer
      </footer>
    </article>
  </div>
</div>
<div id="panels">
  <div class="row">
    <div class="col-md-6">
      <article class="panel panel-primary">
        <header class="panel-heading">
          <h1>
            Customer
          </h1>
        </header>
        <section class="panel-body">
          <form>
            <div class="row">
              <div class="form-group col-md-4">
                <label class="sr-only" for="first-name">First Name</label>
                <input type="text" class="form-control" 
                       name="first-name" value="Bob"> 
              </div>
              <div class="form-group col-md-4">
                <label class="sr-only" for="last-name">Last Name</label>
                <input type="text" class="form-control" 
                       name="last-name" value="Jones"> 
              </div>
              <div class="form-group col-md-4">
                <label class="sr-only" for="username">Username</label>
                <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="text" class="form-control" 
                         name="username" value="bobert123"> 
                </div>
              </div>
            </div>
            <label class="sr-only" for="email">Email</label>
            <input type="text" class="form-control" 
                   name="email" value="bobbyj@somewhere.net"> 
          </form>
        </section>
        <footer class="panel-footer">
          <label for="joined">Joined</label> 12/13/2014
        </footer>
      </article>
      <article class="panel panel-default">
        <header class="panel-heading">
          <h2>
            Shipping Address
          </h2>
        </header>
        <section class="panel-body">
          <form>
            <div class="form-group">
              <label class="sr-only" for="street-address">
                Street Address
              </label>
              <input type="text" class="form-control" 
                     name="street-address" value="123 Any St"> 
            </div>
            <div class="form-group">
              <label class="sr-only" for="street-address-extra">
                Street Address Extra
              </label>
              <input type="text" class="form-control" 
                     name="street-address-extra" value="Unit 101"> 
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="sr-only" for="city">City</label>
                <input type="text" class="form-control" 
                       name="city" value="Washington"> 
              </div>
              <div class="col-md-2">
                <label class="sr-only" for="state">State</label>
                <input type="text" class="form-control" 
                       name="state" value="DC"> 
              </div>
              <div class="col-md-4">
                <label class="sr-only" for="zip">Zip</label>
                <input type="text" class="form-control" 
                       name="zip" value="20001"> 
              </div>
            </div>
          </form>
        </section>
      </article>
    </div>
    <div class="col-md-6">
      <article class="panel panel-default">
        <header class="panel-heading">
          <h2>
            Billing Info
          </h2>
        </header>
        <section class="panel-body">
          <article>
            <div class="row">
              <div class="col-md-7">
                <p>
                  ****-****-****-1234
                  VISA
                </p>
                <p>
                  <label>Expires:</label> 04/19
                </p>
              </div>
              <div class="col-md-5 text-right">
                <button class="btn btn-lg btn-default">
                  View Details…
                </button>
              </div>
            </div>
          </article>
          <article>
            <header>
              <h1>
                Billing Address
                <small>
                  <input type="checkbox"> Same as shipping?
                </small>
              </h1>
            </header>
            <form>
              <div class="form-group">
                <label class="sr-only" for="street-address">
                  Street Address
                </label>
                <input type="text" class="form-control" 
                       name="street-address" value="123 Any St"> 
              </div>
              <div class="form-group">
                <label class="sr-only" for="street-address-extra">
                  Street Address Extra
                </label>
                <input type="text" class="form-control" 
                       name="street-address-extra" value="Unit 101"> 
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="sr-only" for="city">City</label>
                  <input type="text" class="form-control" 
                         name="city" value="Washington"> 
                </div>
                <div class="col-md-2">
                  <label class="sr-only" for="state">State</label>
                  <input type="text" class="form-control" 
                         name="state" value="DC"> 
                </div>
                <div class="col-md-4">
                  <label class="sr-only" for="zip">Zip</label>
                  <input type="text" class="form-control" 
                         name="zip" value="20001"> 
                </div>
              </div>
            </form>
          </article>
        </section>
      </article>
    </div>
  </div>
</div>
<div id="labels">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-7">
          <p>
            ****-****-****-1234
            <span class="label label-success">VISA</span>
          </p>
          <p>
            <label>Expires:</label> 04/19
          </p>
        </div>
        <div class="col-md-5 text-right">
          <button class="btn btn-lg btn-default">
            View Details…
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<h1>BLAH</h1>
