<!--
 ! Excerpted from "Security on Rails",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/fr_secure for more book information.
-->
<div id="new_attendee">
	<% form_remote_tag :url => 
			url_for(:controller => "event", :action => "create_attendee", :id => @event.id) do -%>		
	<dl>
		<dt>
			<span class="label">Name:</span> <%= text_field('attendee', 'name') %>
			<span class="label">Email:</span> <%= text_field('attendee', 'email') %>
		</dt>
		<dd><%= submit_tag 'Add Attendee' %></dd>
	</dl>
	<% end -%>				
</div>