<!--
 ! Excerpted from "Seven Web Frameworks in Seven Weeks",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/7web for more book information.
-->
<div class="span7">
  <div
    ng-controller="BookmarkFormController"
    ng-include src="'/app/validation/bookmark_form.html'">
  </div>
  <div
    ng-controller="BookmarkListController"
    ng-include src="'/app/validation/bookmark_list.html'">
  </div>
</div>
