/* START_HIGHLIGHT */
$heading-font: "Museo Sans", 'Verdana', 'Arial', 'Helvetica', sans-serif;
/* END_HIGHLIGHT */
$accent-font: 'Georgia', 'Times New Roman', serif;
$body-font: 'Times New Roman', 'Times', serif;

$near-black: #333;
$light-blue: #d4f2ff;
$dark-blue: darken($light-blue, 25%);
$highlight: #ffc;
