---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test_%23%3C%23%3Cclass%3A0x007fe375f0b328%3E%3A0x007fe375f0a590%3E%40example.com
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8w6QVferkFPDCh",
          "object": "customer",
          "account_balance": 0,
          "created": 1470187841,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test_#\u003C#\u003Cclass:0x007fe375f0b328\u003E:0x007fe375f0a590\u003E@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8w6QVferkFPDCh/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8w6QVferkFPDCh/subscriptions"
          }
        }
  recorded_at: Wed, 03 Aug 2016 01:30:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18eEDWDTh2DhiR4RuTl9mDJL",
          "object": "token",
          "card": {
            "id": "card_18eEDWDTh2DhiR4RPjHJ7rTI",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1470187842,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 03 Aug 2016 01:30:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8w6QVferkFPDCh
    body:
      encoding: UTF-8
      string: source=tok_18eEDWDTh2DhiR4RuTl9mDJL
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encodin[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8w6QVferkFPDCh/subscriptions
    body:
      encoding: UTF-8
      string: plan=vip_monthly
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8w6QrBuhDsp4LK",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1470187843,
          "current_period_end": 1472866243,
          "current_period_start": 1470187843,
          "customer": "cus_8w6QVferkFPDCh",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "vip_monthly",
            "object": "plan",
            "amount": 30000,
            "created": 1459685135,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "VIP Monthly",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1470187843,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 03 Aug 2016 01:30:43 GMT
recorded_with: VCR 3.0.3
