header#page_header {
  /* START_HIGHLIGHT */
  background: #bc471d url('/assets/brandtag.png') bottom right no-repeat;
  /* END_HIGHLIGHT */
  color: #fff;
  font-size: 0.9em;
  height: 68px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 20px;

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color:#fef8e7;
    text-decoration: none;
  }

  nav#utility {
    float: right;
    font-size: 0.8em;
  }

  #logo {
    position: absolute;
    top: 15px;
  }

}

#tagline {
  margin-left: 20px;
}

div.container {
  overflow: hidden;
  padding: 0 20px;

}

/* START:footer */
footer#page_footer {
  background-color: #807c77;
  border-bottom: 10px solid #4c2719;
  color: #fff;
  font-size: 0.7em;
  height: 100px;
  padding: 10px 20px;

  ul {
    margin-left: -10px;
    padding: 0;

    li {
      border-right: 1px solid #fef8e7;
      display: inline;
      margin: 0;
      &:last-child {
        border-right: none;
      }

      a {
        padding: 5px 10px;
        &:link,
        &:hover,
        &:visited,
        &.active {
          color: #fff;
        }
      }
    }
  }
}
/* END:footer */

/* START:sidebar */
section#content {
   float: left;
 }
section#sidebar {
   float: right;
   margin-right: -20px;
   width: 300px;
 }
/* END:sidebar */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

