body{
  margin: 0;
  padding: 0;
}
{% if (borderbox) {%}
/* apply a natural box layout model to all elements
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;

 }
{% } %}
