---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18ulCBDTh2DhiR4RNd5k7GMh",
          "object": "token",
          "card": {
            "id": "card_18ulCBDTh2DhiR4R3xNtkkDy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1474127859,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 17 Sep 2016 15:57:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&source=tok_18ulCBDTh2DhiR4RNd5k7GMh&description=&metadata[reference]=d898a1bf4301a0b6c07f
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d898a1bf4301a0b6c07f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d898a1bf4301a0b6c07f
      Original-Request:
      - req_9DBZV7gL9SJJJk
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18ulCBDTh2DhiR4RjJiMKcVu",
          "object": "charge",
          "amount": 2500,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18ulCCDTh2DhiR4Rl8kqZ4h5",
          "captured": true,
          "created": 1474127859,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "d898a1bf4301a0b6c07f"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18ulCBDTh2DhiR4RjJiMKcVu/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18ulCBDTh2DhiR4R3xNtkkDy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Sat, 17 Sep 2016 15:57:40 GMT
recorded_with: VCR 3.0.3
