<!DOCTYPE html>
<html>
<head>
  <title>DbViewer</title>
  <%= stylesheet_link_tag    "db_viewer/application" %>
  <%= javascript_include_tag "db_viewer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
