---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&id=basic_monthly_1469937042&interval=month&name=Basic+Monthly
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1469937042",
          "object": "plan",
          "amount": 2000,
          "created": 1469937043,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Basic Monthly",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Sun, 31 Jul 2016 03:50:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/basic_monthly_1469937042
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1469937042",
          "object": "plan",
          "amount": 2000,
          "created": 1469937043,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Basic Monthly",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Sun, 31 Jul 2016 03:50:46 GMT
recorded_with: VCR 3.0.3
