<!--
 ! Excerpted from "Web Development Recipes",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/wbdev2 for more book information.
-->
---
layout: base
---

<article class="post">

  <h2>{{ page.title }}</h2>
  <section>
    {{ content }}
  </section>
  <footer>
    <p>Written by {{ page.author }}</p>
  </footer>

  <p><a href="/">Back</a></p>

</article>
