.button {
  display: inline-block;
  padding: 5px 10px;  
  font: small-caps bold 14px/21px "Arvo", "Courier New", serif;
  background: #ddd;
  -moz-box-shadow: 0 1px 2px #888;
  -webkit-box-shadow: 0 1px 2px#888;
  box-shadow: 0 0 1pxpx #888;
}
.cancel-button {
  @extend .button;
  background: #f00;
  color: #fff;
}
.ok-button {
  @extend .button;
  background: #16A000;
  color: #333;
  text-shadow: 0 -1px 1px #fff;
}
