a.sprite-icon {
  background: transparent url(image-path("iconsprite.png")) top left no-repeat;
  background-position: 0 0;
  height: 32px;
  text-indent: -5000px;
  width: 32px;
}

a.email-icon { background-position: 40px 80px; }
