@media screen and (max-width: 800px) {
  /* Kills columns */
  section#content { float: none; width: $total-width; margin-bottom: 5px; }
  section#page { min-width: 310px; }
  /* START_HIGHLIGHT */
  section#sidebar {display: none;}
  /* END_HIGHLIGHT */
}

@media screen and (max-width: 640px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
