<% currently_at 'Home' %>

<%# START:attrs %>
<p id="product-description"
   class="important blurb rounded">
  Have a file, store a file.
  Then change it, tag it, and share it or send it.
  <em>
    This isn't your father's asset management application.
  </em>
</p>
<%# END:attrs %>

<%# START:features %>
<section id='features'>
  <p>
    You're in charge! Our flexible, advanced
    <a href='/features/approval'>approval process</a> gives
    you the final say on the designs created for your
    advertising campaigns.
  </p>
  <p>
    Access the service from the <a href='/features/mobile'>mobile</a>
    device of your choice. We support them all!
  </p>
</section>
<%# END:features %>

<%# START:comments %>
  <%# TODO: Add list of articles. -BW 2011-11-01 %>
<%# END:comments %>
